<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Log In</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/linecons.css" rel="stylesheet">
        <link href="css/custom-fonts.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/Colors/default.css" rel="stylesheet">
        <link href="css/dark.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>




            <section class='section'>
                <div class="body full">

                    <div class="bg-wrapper front"></div>

                    <!--<div class="bg-wrapper front"></div>-->

                    <div id="pallax-first" class="parallax background-full" data-image='images/login.jpg' >
                    <div class="login-form front">

                        <div class="wrapper-form bg-black around-white">
                            <h3 class="font-hard">Log In</h3>
                            <hr>
                            <% if (error) { %>
                                <p class="bg-primary"><%= error %></p><br>
                            <% } %>
                            
                            <form id="login" action="/login" name="login" method="post" class="form-">
                                <input type="text" class="username form-control" name="username" placeholder="Username">
                                <hr>
                                <input type="password" class="password form-control" name="password" placeholder="Password">
                                <hr>
                                <a  class="btn-Suko-modal submit-login" onclick="document.login.submit(); return false;" data-prefix="&#xe019;">Submit</a>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section id="footer" class="section-black front-heigh relative">
                <div class="around-white body small ">
                    <p class="text-medium">Copyright © Suko.Tv All Rights Reserved</p>
                </div>
            </section>
        </section>
        <script src="js/jquery.min.js"></script>
        <script src="js/zepto.min.js"></script>
        <script src="js/SmoothScroll.js"></script>
        <script src="js/modernizr.custom.js"></script>
        <script src="js/jquery.localscroll-1.2.7-min.js"></script>
        <script src="js/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&amp;sensor=false"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/jquery.easing.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/youtube.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/tiltSlider.js"></script>
        <script src="js/jquery.scrollTo.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/dots.js"></script>
        <script src="js/jquery.dropdown.js"></script>
        <script src="js/jpreloader.min.js"></script>
        <script src="js/jquery.placeholder.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>